<ion-view class='bg'>
	
	<ion-header-bar align-title='center' class='guangchangTitle'>
		<span class="title">广场</span>
	</ion-header-bar>
	
   <ion-content class='has-header guangchang' has-bouncing='true'>
   		<div class="card blue">
		    <div class="item item-text-wrap">
		    	<h3>排行榜</h3>
		    	<h4>Pank</h4>
		  	</div>
		</div>
		
   		<div class="row">
		  
		    <div class="col-50">
		    	<div class="card left">
		    		<h3>评论</h3>
		    		<h4>Comment</h4>
		    	</div>
		    </div>
		    <div class="col-50">
		    	<div class="card right">
		    		<h3>实景</h3>
		    		<h4>Pictures</h4>
		    	</div>
		    </div>
		</div>
   		
   		<p class='pTitle'>
			<span>|</span>
			精选专题
		</p>
		
		<div class="card four">
		    <div class="fourbox">
		    	<h3>青花椒砂锅鱼</h3>
		    	<h4>100元代金卷</h3>
		    	<p>
		    		<i class="icon ion-ios-star"></i>
		    		中奖名单公布
		    		<i class="icon ion-ios-star"></i>
		    	</p>
		  	</div>
		</div>
		<p class="qinghuayu">青花椒砂锅鱼中奖名单公布</p>
		<div class="card five">
			<h3>家庭聚餐指南</h3>
			<h6>找个好地方请长辈吃饭</h6>
			<span>点击查看</span>
		</div>
		<p class="qinghuayu">家庭聚餐指南</p>
		<div class="card six">
			<h2>一秒线上预订</h3>
			<span>用餐时节心荡漾，秒定餐位约起来</span>
			
		</div>
		<p class="qinghuayu">一秒线上预订</p>
		
		
		<div id="cross">
			<span class="cross">END</span>
		</div>
   </ion-content>
</ion-view>
